@import url('home.css');
@import url('galeria.css');
@import url('kontakt.css');
@import url('cele.css');
@import url('sport.css');
@import url('listwa-top.css');
@import url('menu.css');
@import url('footer.css');
@import url('motto.css');
@import url('pages.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 1000px;
    margin: 0 auto;
}